.pageContainer {
  composes: pageContainer from 'styles/page.css';
  align-items: stretch;
}

.index img {
  display: block;
  width: 100%;
}

.nonDefaultImageContainer {
  border: 10px double #0c112d;
}
