@import 'https://fonts.googleapis.com/css?family=Baloo+Da|Bungee|Bungee+Hairline|Bungee+Inline|Bungee+Outline|Bungee+Shade|Fredoka+One|Lato|Londrina+Outline|Londrina+Shadow|Londrina+Sketch|Londrina+Solid|Modak|Monoton|Open+Sans|Roboto';

body {
  background: #f3fec8;
}

.main {
  max-width: 1792px;
  margin: 0 auto;
}
