.pageContainer {
  display: flex;
  align-items: baseline;
  padding: 48px 96px 96px;
  color: #0c112d;
}

.headingContainer {
  flex-basis: 20%;
}

.headingContainer h1 {
  font-family: 'Bungee Outline', cursive;

  font-size: 96px;
  line-height: 1;
  margin: 0;
  font-weight: normal;

  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.headingContainer a,
.contentContainer h1 {
  font-family: 'Roboto Slab', serif;
}

.contentContainer h2,
.contentContainer h3,
.contentContainer h4,
.contentContainer h5,
.contentContainer h6 {
  font-family: 'Roboto Condensed', serif;
}

.headingContainer a {
  display: inline-block;
  margin-top: 48px;
  font-size: 48px;
  line-height: 1;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.15);
}

.headingContainer a:hover {
  color: #0c112d;
}

.contentContainer {
  flex-basis: 80%;
  padding-left: 108px;
}

.contentContainer h1 {
  font-size: 48px;
  line-height: 1;
  margin: 24px 0;
  font-weight: normal;
}

.contentContainer h2 {
  font-size: 36px;
  line-height: 1;
  margin: 24px 0;
  font-weight: normal;
}

.contentContainer p {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  line-height: 38px;
}

.contentContainer hr {
  margin: 8px 0 0;
}

.contentContainer a,
.contentContainer a:visited {
  color: #0c112d;
  background: rgba(161, 253, 211, 0.35);
}

.contentContainer a:hover,
.contentContainer a:active {
  color: black;
  background: #a1fdd3;
}
