/*
font-family: 'Bungee', cursive;
font-family: 'Bungee Shade', cursive;
font-family: 'Bungee Inline', cursive;
font-family: 'Bungee Outline', cursive;
font-family: 'Bungee Hairline', cursive;
font-family: 'Londrina Solid', cursive;
font-family: 'Londrina Sketch', cursive;
font-family: 'Londrina Shadow', cursive;
font-family: 'Londrina Outline', cursive;

font-family: 'Monoton', cursive;
font-family: 'Fredoka One', cursive;
font-family: 'Modak', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Roboto', sans-serif;
*/

.pageContainer {
  display: flex;
  align-items: baseline;
  padding: 48px 96px 96px;
  color: #0c112d;
}

.headingContainer {
  flex-basis: 20%;
}

.headingContainer h1 {
  font-family: 'Bungee Outline', cursive;

  font-size: 96px;
  line-height: 1;
  margin: 0;
  font-weight: normal;

  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.headingContainer a {
  display: inline-block;
  margin-top: 48px;
  font-size: 48px;
  line-height: 1;
  font-family: 'Londrina Solid', cursive;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.15);
}

.headingContainer a:hover {
  color: #0c112d;
}

.contentContainer {
  flex-basis: 80%;
  padding-left: 108px;
}

.contentContainer h1 {
  font-family: 'Londrina Solid', cursive;
  font-weight: normal;
  font-size: 48px;
  line-height: 2;
  margin: 0;
}

.contentContainer p {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  line-height: 38px;
}
